{% extends "index.html" %}
{% block content %}
<head>
  <title>About</title>
  <meta name="description" content="Hi there! I'm Nik and this is my food blog. I received my Ph.D. in Chemistry in 2019 and I've always loved to cook. I designed this blog as way for me to combine both of these interests into one." />
</head>

<body>
<div class="article row m-0 mw-100">
<div class="col-md-6 ml-3 mr-3">
<h3><strong>About:</strong></h3>

<pre>
Hi there! I'm Nik and this is my food blog. I received my Ph.D. in Chemistry in 2019 and I've always loved to cook. I designed this blog as way for me to combine both of these interests into one.

Expect to see great recipes with the science of why they work, or experiments that attempt to push classic recipes further.

Follow us for updates at <a href="https://www.instagram.com/CookwithChemistry/" target="_blank">Instagram.com/CookwithChemistry/</a>
</pre>

</div>
<div class=col-md"></div>
</div>
</body>

{% endblock %}
