{% extends "index.html" %}
{% block content %}
{% load static %}

<head>
  <title>All Recipes</title>
  <meta name="description" content="Looking for dinner, dessert, or just a snack? We got you covered. Try out these great recipes tonight!"/>
</head>

<body>
<div class="article ml-3 mr-3">
<h3><strong><center>All Recipes:</center></strong></h3>
<br />

<body class="container-fluid">
  <div class="row align-items-center mw-100 mx-3">
    <div class="col-md p-2">
      <a href="/recipes/avocado_toast/">
      <div class="image"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/0-thumb.JPG' %}"  alt="Avocado Toast">
        <div class="caption"><h2><span>My Favorite </span><span>Avocado Toast</span></h2></div>
      </div>
      </a>
    </div>
    <div class="col-md p-2">
      <a href="/recipes/banana_bread/">
      <div class="image"><img class="img-fluid rounded" src="{% static '/img/banana_bread/0-thumb.JPG' %}"  alt="Banana Bread">
        <div class="caption"><h2><span>The Best </span><span>Banana Bread</span></h2></div>
      </div>
      </a>
    </div>
    <div class="col-md p-2">
      <a href="/recipes/breakfast_sandwich/">
      <div class="image"><img class="img-fluid rounded" src="/static/img/breakfast_sandwich/0-thumb.JPG"  alt="Breakfast Sandwich">
        <div class="caption"><h2><span>Deli-Style </span><span>Breakfast Sandwich</span></h2></div>
      </div>
      </a>
    </div>
  </div>
  <div class="row align-items-center mw-100 mx-3">
    <div class="col-md p-2">
      <a href="/recipes/lemon_chicken/">
      <div class="image"><img class="img-fluid rounded" src="/static/img/lemon_chicken/0-thumb.JPG"  alt="Simple Healthy Lemon Chicken">
        <div class="caption"><h2><span>Simple & Healthy </span><span>Lemon Chicken</span></h2></div>
      </div>
      </a>
    </div>
    <div class="col-md p-2">
      <a href="/recipes/cookie_dough_cupcakes/">
      <div class="image"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/0-thumb.JPG"  alt="Cookie Dough Cupcakes">
        <div class="caption"><h2><span>Chocolate Chip</span><span>Cookie Dough Cupcakes</span></h2></div>
      </div>
      </a>
    </div>
    <div class="col-md p-2">
      <a href="/recipes/sweet_cream_cold_brew/">
        <div class="image"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/0-thumb.JPG"  alt="Cold Brew">
          <div class="caption"><h2><span>Vanilla Sweet Cream</span><span>Cold Brew</span></h2></div>
        </div>
      </a>
    </div>
  </div>
</body>

</div>
</body>

{% endblock %}
