.container-fluid {
  padding:0;
  margin:0;
 }
/* For lanscape phones/ small tablets only */
 @media screen and (max-width: 1000px) {
 .about {
   display:none;
 }
}
 /* Mobile only */
 @media screen and (max-width: 766px) {
   .logo {
     width: 200px;
     margin: auto;
     opacity: 1;
   }
   .article {
     margin:0;
   }
   .not-mobile {
     display:none;
   }
   h2 {
     font-size: calc(1rem + 2vw);
   }
 }
/* Desktop only */
@media screen and (min-width: 767px) {
  .logo {
    width: 300px;
    margin-left: calc(2em + 1vw);
    opacity: 1;
  }
  .article {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  h2 {
    font-size: calc(0.75rem + 1vw);
  }
}

h2 span {
  display:block;
}
p span {
  display:block;
}
 .image {
    position: relative;
    width: 100%; /*for IE6 and earlier */
 }

p br {
  line-height: 1px;
}
h1 {
   font-family: helvetica;
   white-space: pre-wrap;
   font-size: calc(1.3rem + 1.1vw);
   font-style:bold;
 }
i {
  font-family: helvetica;
  white-space: pre-wrap;
  font-size: calc(0.8rem + 0.7vw);
  line-height:0.5rem;
}
p.disclaimer {
  font-family: helvetica;
  white-space: pre-wrap;
  font-size: calc(0.6rem + 0.5vw);
}
a.h3 {
  opacity: 1;
  text-decoration: none!important;
  font-family: helvetica;
  font-size: calc(1.2rem + 1vw);
  color: var(--secondary);
  font-style:bolder;
}
a {
  color: var(--blue);
}
a:hover {
   text-decoration: none!important;
   opacity: 0.7;
   filter: alpha(opacity=70); /* for IE8 and earlier */
}
a.footer {
  color: var(--secondary);
}
h2 {
  position: relative;
  color: white;
  margin: 0px;
  padding: 2px;
  text-align: center;
}

pre {
 font-family: helvetica;
 white-space: pre-wrap; /* CSS3 */
 white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
 word-wrap: break-word; /* Internet Explorer 5.5+ */
 font-size: calc(0.8rem + 0.5vw);
}

strong {
  font-family: helvetica;
  white-space:pre-wrap;
  font-size: calc(1.5rem + 1.1vw);
}
#table {
  border: 2px solid var(--secondary);
}
.caption {
   position: absolute;
   color: black;
   top: calc(75% - 10px);
   width: 100%;
   height: calc(25% + 10px);
   opacity: 0.6;
   filter: alpha(opacity=60); /* for IE8 and earlier */
   border: 0px;
   background-color: black;
   display:flex;
   align-items: center;
   justify-content: center;
 }
a.footer:hover {
  color: var(--gray)
}

div.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary);
    opacity:0.82;
    filter: alpha(opacity=82); /* for IE8 and earlier */
    color: var(--secondary);
    text-align: center;
 }

/* Social media icons: */
 .fa {
    padding: 1rem;
    font-size: 3rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
 }

 .fa:hover {
     opacity: 0.7;
 }

 .fa-instagram {
   background: none;
   color: var(--secondary);
 }

 .fa-pinterest {
   background: none;
   color: var(--secondary);
 }

 .fa-facebook {
   background: none;
   color: var(--secondary);
 }

 .fa-twitter {
   background: none;
   color: var(--secondary);
 }

 .fa-youtube {
   background: none;
   color: var(--secondary);
 }

 .fa-reddit {
   background: none;
   color: var(--secondary);
 }

/* for calorie calc form */
form {
  display:table;
}
form div {
  display: table-row;
}
form label {
  display: table-cell;
  padding-right: 3px;
}
form input {
  display: table-cell;
  text-align:center;
  width:4em;
  border: none;
  border-bottom: 2px solid var(--secondary);
}
form input:focus{
  background-color: #d1d1d1;
}

/*Cookie Consent Begin - https://html-online.com/articles/cookie-consent-warning-strap-website/*/
#cookieConsent {
    background-color: rgba(20,20,20,0.9);
    min-height: 26px;
    font-size: 14px;
    color: var(--primary);
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: var(--secondary);
    opacity(0.9)
}
/*Cookie Consent End*/
