{% extends "recipes/_recipe_template.html" %}
{% block recipe %}
{% load static %}
<pre>

<div class="image mw-100"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/0-thumb.JPG' %}"  alt="Avocado Toast">

This past spring, I wanted to improve my avocado toast recipe. It was something I had made in the past to try to get more Omega-3s in my diet. I started with just lime juice, salt and pepper. It was a good start, but it wasn’t something I really enjoyed until I started making some alterations to the recipe. And that didn’t start until my girlfriend showed me how Tara Michelle makes her avocado toast on her vlog series.<sup>1</sup>

The biggest differences between her recipe and my current recipe was her use of "Everything but the Bagel" seasoning and the addition of olive oil. Once I tried these additions I was hooked. We got a bag of mini avocados from Aldi – which were the perfect size for one English muffin. And I kept making small adjustments to the recipe until it became something I truly enjoyed.

I found that a little bit of parmesan cheese really helped accent the everything bagel seasoning. I also found out that the type of olive oil matters! Extra-virgin olive oil provides a fresh and bright flavor that was by far the best. Besides that, this recipe is very straightforward, but there are a few places where it can go wrong. One of those places is making sure you use perfectly ripe avocados. To ensure that, I have a few tips:

<div class="image mw-100"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/1.JPG' %}"  alt="Avocado Toast">

<strong>Avocado Tips:</strong>
As I stated above, I really like having the mini avocadoes on hand for this recipe (not shown here). They are just the perfect amount of avocado for this purpose, so you don’t have to worry about saving the other half of a standard-sized avocado. Likewise, if you’re making this dish for two people, then a regular avocado would make more sense, as one regular avocado seems to provide the perfect amount of avocado for two servings. This is something to keep in mind when purchasing the avocados for this purpose. Both sizes will work, but one will be more convenient than the other depending on how many servings you are making.

<div class="image mw-100"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/11.JPG' %}"  alt="Avocado Toast">

Next, we have to talk about ensuring the proper ripeness of your avocados. I’ve been on both sides of ripeness in the past. From trying to mash an avocado that is far to hard to work with, to opening up an avocado to find brown mush – I’ve been there. What I’ve learned from this experience is that ensuring you have a perfect avocado comes down to two phases: ripening time and refrigeration.

When you first purchase your avocados, leave them at room temperature in a place that is visible to you. Once a day, test your avocadoes for ripeness: simply press your thumb into the avocado and it should be soft to the touch but still have a slight resistance. If you check once a day, they shouldn’t ever get too ripe. Once your avocado is ripe, you can store it in the refrigerator to "preserve" this level of ripeness for at least one week but sometimes up to two weeks.

<div class="image mw-100"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/12.JPG' %}"  alt="Avocado Toast">

Sometimes you will be able to get perfectly ripe avocados from your grocery store. This is nice when it happens, but I’ve found that you can’t always count on it. Especially when you buy one of the bulk bags of mini avocadoes, there’s a very high chance that they will be underripe. But make sure to test this when you’re at the grocery store: you can always allow for time to ripen an avocado, but you can’t bring an overripe avocado back. It’s always better to get an underripe avocado than an overripe one.

<div class="image mw-100"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/13.JPG' %}"  alt="Avocado Toast">

<strong>Assembling the Avocado Toast:</strong>
Once you have your ripened avocado, you’re only a couple steps and a few minutes away from enjoying avocado toast at home. First, I like to toast the English muffin. You don’t have to use an English muffin, feel free to use any type of bread you enjoy. But there is something really enjoyable about using an English muffin for this purpose. Regardless of the bread you use, you are going to want to toast it. Avocados are dense – especially once they are mashed – so you will want your toast’s structure to hold up the avocado topping. While that is toasting, I like to prepare the avocado topping.

<div class="image mw-100"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/16.JPG' %}"  alt="Avocado Toast">

For the avocado topping I like to keep it simple – just lime juice, salt and pepper. If you don’t use avocados a lot, its important to know how important the lime juice is. The lime juice is acidic – so this will prevent oxidation of the avocado. This means your avocado won’t turn brown before you get a chance to eat it, making it much more appealing visually. I add the lime juice as soon as I get the avocado mashed to keep it as fresh as possible. You can use lemon juice or even vinegar to prevent this oxidation – but the flavor of the lime juice complements the avocado. I’ve found that other options do not complement the flavor of the avocado nearly as well. For the salt and pepper, just add a little bit at a time and taste it as you go. Once you are happy with the flavor, you are ready to assemble your avocado toast!

<div class="image mw-100"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/3.JPG' %}"  alt="Avocado Toast">

To assemble the avocado toast, simply top each half of the English muffin with your mashed avocado mixture and top with <a href=https://amzn.to/2RUSLL9 target="_blank">“Everything but the Bagel” seasoning</a> and parmesan cheese. Finish this with a drizzle of olive oil and you are done! The olive oil adds a little bit of contrast to the flavors here. You will have some bites that are a little different from the others with the olive oil. It’s an optional ingredient, but I highly recommend adding it.

<div class="image mw-100"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/6.JPG' %}"  alt="Avocado Toast">

This recipe is very simple but very satisfying. I find that when I eat this for breakfast, I am usually full enough to  skip lunch and go straight to dinner. Plus, knowing I am getting a serving of omega-3s and fiber from the avocado lets me know I’m starting my day off right. Even if you’ve never tried avocado toast before, I recommend you try this recipe. My only experience with avocados before this recipe was guacamole. But this was a great new way to experience avocados and I've been loving it ever since.

<div class="image mw-100"><img class="img-fluid rounded" src="{% static '/img/avocado_toast/10.JPG' %}"  alt="Avocado Toast">

<strong id='recipe'>Recipe:</strong>
1 English muffin, toasted
1 mini avocado (or ½ a regular avocado)
½ tsp. lime juice
Salt and pepper, to taste
"Everything but the Bagel" seasoning, for topping
Parmesan cheese, for topping
Extra-virgin olive oil, drizzled on top (optional)

<strong>Directions:</strong>
<ol><li>Cut the English muffin in half and toast it.</li>
<li>In a small bowl, mash the avocado until the desired consistency is reached.</li>
<li>Add the lime juice, then add salt and pepper to taste.</li>
<li>Top the toasted English muffin with the avocado mixture.</li>
<li>Sprinkle "Everything but the Bagel" seasoning and Parmesan cheese on top.</li>
<li>Drizzle olive oil on top, serve, and enjoy!</li></ol></pre>

<strong>References:</strong>
<ol><li><a href=https://www.youtube.com/user/taramichellevlogz target="_blank">Tara Michelle Vlogs – Youtube Channel</a></li></ol></pre>
</pre>
{% endblock %}
