{% extends "recipes/_recipe_template.html" %}
{% block recipe %}
<pre>

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/breakfast_sandwich/0.JPG"  alt="Breakfast Sandwich"></div>
One thing I miss from my younger days was breakfast sandwiches on the weekends. My Dad would go to our local bagel shop and ask what we wanted. My Mom would usually get an everything bagel, toasted, and lightly buttered, while my Dad and I would get breakfast sandwiches. The breakfast sandwiches changed for me over the years. Sometimes I would get "bacon, egg and cheese", sometimes I would get "sausage, egg and cheese", and other times I would just get "egg and cheese". The bagel I got it on would also change dramatically over the years, from plain to all sorts of sweet and savory flavors like cinnamon-raisin to everything bagels to everything in between… I actually still like some of these combinations of flavors to this day. But today, we will be keeping things traditional with a plain bagel, sausage, egg and cheese breakfast sandwich.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/breakfast_sandwich/10.JPG"  alt="Breakfast Sandwich"></div>
You might be thinking, this is a simple recipe, right? I mean, all of the ingredients are right there in the name. But if you’ve made as many of these sandwiches as I have over the years, you’ll know that these simple ingredients can have a dramatically different flavor depending on how its prepared. These techniques are really what this recipe is all about. The ingredients you use can be as fancy or simple as you like, but the resulting sandwich will mostly depend on how you prepare it.

To truly recreate a traditional bagel shop's breakfast sandwich flavor, we need to think like bagel shop. That means using ingredients with a low cost to reduce overhead, and a process that can be executed and repeated quickly. For us, that means a lot of steps will be occurring simultaneously. The hardest part of this recipe is keeping track of everything happening and not overdoing any of the steps. But by performing these steps simultaneously, we will ensure all the ingredients are hot and fresh at the end, just like your favorite bagel shop.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/breakfast_sandwich/3.JPG"  alt="Breakfast Sandwich"></div>
<strong>The Bagel and Cheese:</strong>
Let’s start with the bagel. This can be a bagel from your favorite bagel shop to increase the authentic flavor. This will undoubtedly elevate the taste of your sandwich, but it is not by any means necessary. Most of the flavor will be coming from the inside of the sandwich. But, if you like to get a dozen bagels at a time and freeze them ahead of time, this is a perfect recipe for them. In this recipe I am just be using standard grocery store bagels (like the Thomas’ line of bagels).

Preparing the bagel is arguably more important than the choice of bagel itself. I believe this sandwich is best when it is toasted and buttered on one side. This is the side that the egg will go on top of. The other side is useful for pre-melting the cheese on the sandwich. My process can be separated into three steps: first, toast the bagel, then add butter on one side, cheese on the other, and finally put it back in the toaster oven to melt both the butter and cheese. If you don’t have a toaster oven, you can use an oven set to broil (or set to the highest temperature) and place the bagel on the top rack of your oven. Check this often! It’s very easy to overdo the cheese or burn the bagel here. Once both are melted, you’ll want to remove it immediately from the oven/toaster oven.

In terms of what cheese is used, you can use whatever type of cheese you prefer. But remember: if you want bagel shop taste you have to think like a bagel shop. That low-cost American cheese can really help sell that American bagel shop feeling. But tune this to your preference: I think provolone and cheddar are great on a breakfast sandwich and will occasionally substitute for these cheeses.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/breakfast_sandwich/2.JPG"  alt="Breakfast Sandwich"></div>
<strong>The Sausage and The Egg:</strong>
For the sausage and the egg, I like to use the same frying pan to keep things simple. I typically start with the egg while the bagel is toasting. Over medium heat, I melt ½ Tbsp. of butter until it sizzles. Then, I add the egg and allow it to set slightly before breaking the yolk. I will then allow this too cook for 1-2 minutes before seasoning with salt and pepper and flipping. Then season the other side with salt and pepper and allow this to cook for another 1-2 minutes until the yolk is set. Finally, I remove the egg from the heat and put this on a separate plate until the bagel is ready.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/breakfast_sandwich/4.JPG"  alt="Breakfast Sandwich"></div>
For the sausage, I like to use big, bagel-sided patties. You can’t find these at every grocery store! For a while I could only find links and small patties. Although these will work if you cut them in half and spread them out, they aren’t true to a bagel shop. Luckily, we were able to find these larger breakfast sausage patties at ALDI and I’ve been using them ever since. I cook these until they’re just defrosted/slightly cooked in the microwave, 1-2 minutes on high. Then, in the same pan that the egg was just fried in, I add the sausage patty and fry it for another 1-2 minutes on each side.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/breakfast_sandwich/5.JPG"  alt="Breakfast Sandwich"></div>
While the sausage is frying, I like to arrange all of the other ingredients for the assembly of the sandwich. I’ll take the bagel out of the toaster oven with the melted butter and cheese, place the egg on top of it, and by this time the sausage is usually ready. I add the sausage on top of the egg, close the sandwich and it's now essentially done.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/breakfast_sandwich/8.JPG"  alt="Breakfast Sandwich"></div>
You can eat this sandwich as it is right now. But I’ve found (if you can wait just 1-2 more minutes before eating it) if you wrap it in foil and wait, all the flavors will blend together, and the warm steam will travel throughout the whole sandwich. This is what fully sold me on this recipe and is what lead me wanting to share it. When I first started this recipe, before figuring out all these factors, I thought this was already on par with most bagel shop sandwiches. I now prefer this sandwich to most bagel shops and fast food breakfast sandwiches like Dunkin’ and Starbucks, so I hope you will give it a try see if you can beat your favorite stores flavor at home. In addition to beating your local store's flavor, you'll be saving time and money with this recipe, so its a win-win!

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/breakfast_sandwich/9.JPG"  alt="Breakfast Sandwich"></div>
<strong id='recipe'>Recipe:</strong>
1 Bagel (of your choice)
1 Slice of cheese (of your choice, I prefer American)
1 Tbsp. butter, salted
1 Large egg
1 Large sausage patty (or two sausage links cut in half)
Salt and pepper, to taste

<strong>Directions:</strong>
<ol><li>Cut the bagel in half and toast it in a toaster oven (bagel setting) or in an oven set to broil (the highest temperature possible)</li>
<li>Melt half of the butter in the pan over medium heat until it starts to sizzle.</li>
<li>Add the egg to the pan, wait 1-2 minutes until just set, break the yolk, and flip, seasoning both sides with salt and pepper.</li>
<li>Once both sides of the egg are cooked, remove from the heat and place it on a separate plate.</li>
<li>Once the bagel is toasted, place the other half of the butter on once side, and the slice of cheese on the other.</li>
<li>Place the bagel back into the toasting apparatus of your choice until both sides are just melted.</li>
<li>While melting, defrost/lightly cook the sausage in a microwave oven for 1-2 minutes on high.</li>
<li>Place the sausage in the same pan you cooked the egg in, over medium heat.</li>
<li>Cook the sausage for 1-2 minutes on each side until browned. </li>
<li>Add the egg on top of the buttered side of the bagel, and add the sausage on top of the egg.</li>
<li>Combine both sides of the sandwich and wrap in foil and wait 1-2 minutes to allow the sandwich to settle.</li>
<li>Cut in half and serve. Enjoy!</li></ol></pre>
{% endblock %}
