{% extends "recipes/_recipe_template.html" %}
{% block recipe %}
<pre>

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/5.JPG"  alt="Cookie Dough Cupcakes"></div>

Last year, I wanted to make something unique to celebrate my girlfriend's birthday. I had made cupcakes in the past, but I this year I wanted to see if I could make one that went above-and-beyond the other ones. The result was combining two things that we both know and love: cookie dough and cupcakes.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/7.JPG"  alt="Cookie Dough Cupcakes"></div>

First, I did my research to see if this idea was even possible. From this research, I found that if I freeze the cookie dough well in advance of making the cupcakes, the cookie dough should stay soft while the cake gets baked around it. Immediately I knew that this would be the cupcake I was making this year. But I didn’t want this cupcake just to be good, I wanted this to be the best possible version of this concept. This recipe both combines and builds upon my best vanilla cupcake base, combines it with the best edible cookie dough and tops it off with a “brown sugar” frosting. If you’re a fan of both cookie dough and cupcakes it is essential that you try out this recipe one day – it’s so good!

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/4.JPG"  alt="Cookie Dough Cupcakes"></div>

<strong>The Edible Cookie Dough:</strong>

I am going to start with the edible cookie dough, since it’s the “core” of what makes this recipe so great (pun intended). I am going to be basing the cookie dough off of the final recipe decided in our <a href = "https://www.cookwithchemistry.com/experiments/edible_cookie_dough/" target="_blank">cookie dough experiment</a>. To summarize, the two keys to keeping edible cookie dough safe is omitting the egg and heat-treating the flour. We determined that using a small amount of baking soda elevated the flavor to create the perfect edible cookie dough. While that recipe can use regular or mini chocolate chips, it is especially important to use mini chocolate chips for the cupcakes. This will make it easier to form the cookie dough balls that will go into the cupcake and create a more uniform texture in the final product once they’re baked.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/1.JPG"  alt="Cookie Dough Cupcakes"></div>

To prepare the cookie dough for the cookie dough cupcakes, simply roll them into 1-inch balls and freeze for 3 hours or overnight. I like to put them on silicon baking mats since they're non-stick, reusable, and dishwasher safe. Conveniently, after heat treating your flour, you should be left with a nice floured surface to freeze the cookie dough on. I like to freeze them overnight as it allows this recipe to be broken up into two steps. Freezing the cookie dough will allow for the cupcake to get cooked while the cookie dough stays soft – Don’t leave out this step!

<strong>The Vanilla Cupcake: </strong>

With our cookie dough frozen and ready to go, we will next need a great vanilla cupcake to surround it. For this recipe I’m using a relatively simple vanilla cupcake recipe. I used a base recipe I found on <a href = "https://natashaskitchen.com" target="_blank">Natasha’s Kitchen</a>,<sup>1</sup> with just one alteration: substituting half of the butter for oil. The oil will help keep the cupcakes moist when baking. Although butter provides a great flavor in cupcakes, it can also dry out the cake. This is why I usually recommend using 50:50 butter and oil mixture for your cupcakes. In this case I am using a vegetable oil, but feel free to substitute this for any other neutral flavored oil you have on hand.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/11.JPG"  alt="Cookie Dough Cupcakes"></div>

Another tip for these cupcakes is to use all room temperature ingredients. This was an easy step for me to overlook when I was starting out, and its mostly because it was never explained in any of the recipes I was using. But by using room temperature ingredients, we can keep our butter from re-solidifying in the batter. Although the taste should be the same, this will create butter pockets in your cupcake instead of a nice, uniform, fluffy cake. It might even cause butter to seep out from the cupcake liner which is never a good thing.

If you didn’t plan ahead and leave your ingredients out for 30-60 minutes, you can use your microwave in a pinch. Just microwave your cold ingredient 10 seconds at a time (no more than 30 seconds) until it is close to room temperature, then allow it to sit for 1-3 minutes, and it should be almost identical to the traditional method. This works for butter, milk, and even eggs, as long as you mix them together and mix them again every 10 seconds to prevent them from cooking. Using both of these tips with this recipe will ensure you have a great vanilla cupcake to surround your cookie dough.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/2.JPG"  alt="Cookie Dough Cupcakes"></div>

Once you have the vanilla cupcake batter made, simply scoop a little less than ¼ cup into each cupcake liner. Top each cupcake with a frozen cookie dough ball and push down slightly to insert it into the cupcake. Then simply bake as you would any other cupcake until the cake completely cooked. Testing for doneness with a toothpick in the center will not work for this recipe, since the cookie dough ball should remain uncooked. To test if your cupcake is done, you can use a toothpick if you insert it on the outside, and I recommend testing multiple cupcakes for this recipe. You can also look for a light golden-brown color to appear at the edges of each cupcake, as this is another indication your cupcakes are fully cooked.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/15.JPG"  alt="Cookie Dough Cupcakes"></div>

When you first take them out of the oven, your cupcakes should start out puffed up and uniform. But if the cookie dough remained uncooked, you should see the cookie dough collapse into the cupcake. This is a good thing! This will provide us with a soft cookie dough core. Don’t worry about the space that this creates on the top of your cupcakes, as we will be filling this with frosting in the next step.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/3.JPG"  alt="Cookie Dough Cupcakes"></div>

<strong>The "Brown Sugar" Frosting: </strong>

The final step to this recipe is the brown sugar frosting. But we will not be using brown sugar. So how will it taste like brown sugar? The answer: molasses. Since brown sugar is just a combination of cane sugar and molasses, we can simply add molasses to our frosting to emulate the taste of brown sugar. One of my favorite food YouTubers, Adam Ragusea, actually stopped buying brown sugar entirely, and just relies on combining sugar and molasses for all of his brown sugar needs.<sup>2</sup> I haven’t gone that far yet, for the sake of being able to use a uniform brown sugar every time, but I have used this method when I wanted a darker brown sugar and I only had light. For the purposes of our frosting, however, this knowledge is important.

If we added any kind of granulated sugar to a frosting, it would create a grainy texture. Since we want a smooth and fluffy frosting, the molasses will add that brown sugar flavor without the grainy texture. All that was required was to figure out the ideal amount of molasses to add, so there would be a hint of brown sugar flavor without being overpowering (note: a little molasses goes a long way!). The ratio, I determined, was 1 teaspoon of molasses for 12 cupcakes-worth of frosting.

<div class="image-mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/13.JPG"  alt="Cookie Dough Cupcakes"></div>

This brings us to our final step: frosting the cupcakes. You can use a pastry bag of your choice or just a Ziplock bag with the end cut off to apply the frosting to the cupcakes. Top with mini chocolate chips to drive home the chocolate chip cookie feeling, and you’re done! I present to you, the cholate chip cookie dough cupcake:

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/cookie_dough_cupcakes/14.JPG"  alt="Cookie Dough Cupcakes"></div>

Again, I highly recommend this recipe, it was unlike any other cupcake I’ve had before, homemade and store-bought included. I promise you won’t regret trying it. Serve with a glass of cold milk of your choice and enjoy! These cupcakes are great both at room temperature and refrigerated. The cool cookie dough in the center is really satisfying against the vanilla cake. If you try out the recipe, make sure to share it with us with the hashtag #CWCcupcakes.

<strong id="recipe">Recipe (makes 12 cupcakes):</strong>

<b>Edible Cookie Dough:</b>
Our edible cookie dough recipe is <a href = "https://www.cookwithchemistry.com/experiments/edible_cookie_dough/" target="_blank">available here</a>.

<b>Vanilla Cupcake:</b>
1/4 cup unsalted butter, softened
1/4 cup vegetable oil (or neutral-flavored oil of your choice)
3/4 cup granulated sugar
2 eggs, room temperature
2 tsp pure vanilla extract
1 1/4 cups all-purpose flour
1 1/4 tsp baking powder
1/2 tsp salt
1/2 cup buttermilk, room temperature

<b>Brown Sugar Frosting:</b>
8 Tbsp (1 stick) unsalted butter, softened
1 ½ - 2 cups powdered (confectioners) sugar
1 tsp vanilla extract
1 tsp molasses, unsulphured
1/4 cup mini chocolate chips (for topping)

<strong>Directions:</strong>

<b>Edible Cookie Dough:</b>

<ol><li>Follow instructions to make the <a href = "https://www.cookwithchemistry.com/experiments/edible_cookie_dough/" target="_blank">edible cookie dough here</a>.</li>
<li>Roll the cookie dough as prepared into 1-inch balls, place on a cookie sheet.</li>
<li>Freeze cookie dough balls for 3 hours or up to overnight.</li></ol>
<b>Vanilla Cupcakes:</b>

<ol><li>Preheat oven to 350 F</li>
<li>Prepare 12 cupcake liners in a cupcake tin.</li>
<li>In a large bowl, mix the butter, by itself, until smooth.</li>
<li>Add the sugar and vegetable oil, mix until uniform and creamy in appearance.</li>
<li>Add the eggs and vanilla extract and mix until combined.</li>
<li>In a separate, medium bowl, combine the flour, baking powder, and salt. Whisk to combine.</li>
<li>Alternating, add the flour mixture, combine, then add buttermilk, combine, and repeat until all contest are combined, finishing with the buttermilk.</li>
<li>Add a scant ¼ cup of cupcake batter to each cupcake liner.</li>
<li>Place a frozen cookie dough ball (as prepared above) in each cupcake, pressing down lightly to insert it into the cupcake.</li>
<li>Bake for 15-20 minutes or until golden brown, a toothpick inserted on the outside should come out clean.</li></ol>
<b>Brown Sugar Frosting:</b>

<ol><li>Using a hand mixer or stand mixer, mix the butter until smooth and lighter in appearance.</li>
<li>Add the powdered sugar, ½ cup at a time, thoroughly mixing each time.</li>
<li>When your desired consistency is reached, add the vanilla and molasses and mix thoroughly to combine.</li>
<li>Frost each cupcake with the frosting, using a pastry bag or Ziplock bag with the end cut off. </li>
<li>Top each cupcake with 5-15 mini chocolate chips, and enjoy!</li></ol>
<strong>References: </strong>

<ol><li><a href = "https://natashaskitchen.com/perfect-vanilla-cupcake-recipe/" target="_blank">https://natashaskitchen.com/<wbr>perfect-vanilla-cupcake-recipe/</a></li>
<li><a href = "https://www.youtube.com/watch?v=LF8cWXlNSEM" target="_blank"> https://www.youtube.com/<wbr>watch?v=LF8cWXlNSEM</a></li></ol></pre>
{% endblock %}
