{% extends "recipes/_recipe_template.html" %}
{% block recipe %}
<pre>

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/lemon_chicken/1.JPG"  alt="Simple and Healthy Lemon Chicken"></div>
In May, I was on a big heath kick. I had just completed the Insanity workout program, and I was feeling motivated to continue focusing on health throughout 2020. In the past, I would think being healthy meant eating plain chicken in a pan with a side of steamed broccoli… and then wonder why I couldn't stick with it over the long-term. I now realize that long-term heath means making compromises between what is not only nutritious, but easy to sustain too (read: tasty). Long-term consistency will always beat out short-term motivation.

I believe that this recipe strikes the perfect balance between nutrition and sustainability: it’s low calorie, high in protein (50 grams per serving!) and it tastes great too. It uses a seasoned flour mixture to create a flavorful golden-brown crust, and lemon juice to provide a crisp freshness that is perfect for the summer. Even better, the all-purpose flour can be substituted out to fit many diet plans. For example, you can use <a href= "https://amzn.to/31JszsM" target="_blank">almond flour</a> to make this low-carb/keto friendly, or <a href= "https://amzn.to/31GrT7g" target="_blank">brown rice flour</a> to make this gluten-free.

<div id="div1" class="image mw-100"><img class="img-fluid rounded" src="/static/img/lemon_chicken/5.JPG"  alt="Simple and Healthy Lemon Chicken"></div>
On the other hand, if you’re like me using a calorie-counting approach (it’s more fun than it sounds), I have a couple tips for you for this recipe. By measuring the weight of the flour before and after dredging the chicken, I found that less than half of it actually ended up on the chicken, and therefore on our plates. After accounting for this, the flour only ended up contributing about 100 calories to this dish while adding a really nice texture and browning. To calculate this for yourself, I’ve created a simple calorie calculator that accounts for all the ingredients contributing calories in this recipe. If you follow this recipe, your values should end up relatively close to these. But feel free to adjust any or all of these to get an accurate calorie count for your dinner.
<script src="/static/scripts/caloriecalc.js"></script>
<hr style="height:0.1em;border-width:0;background-color: var(--secondary); margin:0">
<div><strong> Calorie Calculator: </strong></div>
<center><form><div>
  <label class="caloriecalc-label" for="chicken"><div>Chicken before (ounces): </div></label>
  <input class="caloriecalc-input" type="text" placeholder="" id="chicken" value="16" maxlength="5" onkeyup="caloriecalc()" />
</div>
<div>
  <label class="caloriecalc-label" for="flour-before"><div>Flour before (grams): </div></label>
  <input class="caloriecalc-input" type="text" placeholder="" id="flour-before" value="75" maxlength="5" onkeyup="caloriecalc()" />
</div>
<div>
  <label class="caloriecalc-label" for="flour-after"><div>Flour after (grams): </div></label>
  <input class="caloriecalc-input" type="text" placeholder="" id="flour-after" value="47.5" maxlength="5" onkeyup="caloriecalc()" />
</div>
<div>
  <label class="caloriecalc-label" for="egg-before"><div>Egg before (grams): </div></label>
  <input class="caloriecalc-input" type="text" placeholder="" id="egg-before" value="100" maxlength="5" onkeyup="caloriecalc()" />
</div>
<div>
  <label class="caloriecalc-label" for="egg-after"><div>Egg after (grams): </div></label>
  <input class="caloriecalc-input" type="text" placeholder="" id="egg-after" value="50" maxlength="5" onkeyup="caloriecalc()" />
</div>
<div>
  <label class="caloriecalc-label" for="olive-oil"><div>Olive Oil (Tbsp.): </div></label>
  <input class="caloriecalc-input" type="text" placeholder="" id="olive-oil" value="2" maxlength="2" onkeyup="caloriecalc()" />
</div>
<div>
  <label class="caloriecalc-label" for="servings"><div>Servings: </div></label>
  <input class="caloriecalc-input" type="text" placeholder="" id="servings" value="2" maxlength="2" onkeyup="caloriecalc()" />
</div>
</form></center>
<div><b id="total-calories">Total calories: 470 calories per serving.</b></div>
<hr style="height:0.1em;border-width:0;background-color: var(--secondary); margin:0">
<strong>Preparing the Chicken:</strong>
We made this recipe with two boneless, skinless chicken breasts. I’ve found that pan fried chicken is best when it cooks quickly, so you will want the chicken to be sliced thin. You can use the pre-cut thin-cut chicken breasts that you can find at your grocery store, or you can slice each breast in half like I did here.

To improve the texture, I used a meat tenderizer to get the chicken nice and thin, between 1/4-1/2 an inch each. Then you just need to dredge the chicken, which is a simple egg-wash followed by the seasoned flour described in the recipe below.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/lemon_chicken/2.JPG"  alt="Simple and Healthy Lemon Chicken"></div>
<strong>Pan-frying the Chicken:</strong>
To pan-fry the chicken, simply heat up two tablespoons of olive oil on medium heat for 1-3 minutes or until a drop of water sizzles when its added. If your olive oil starts to smoke, it is too likely too hot: remove it from the heat and wait 1-2 minutes before continuing. You may have to replace the olive oil if this happens.

Then add your chicken, gently, one at a time. Try not to “crowd the pan” (i.e. leave some space between the chicken). This allows the steam to release and will create the desired coating on the outside of the chicken. Allow to pan-fry 3-5 minutes on each side until golden-brown and fully cooked (internal temperature of 165 F), then remove the pan from the heat.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/lemon_chicken/3.JPG"  alt="Simple and Healthy Lemon Chicken"></div>
Finally, add the juice of a lemon on top of all the chicken. We’ve found that one lemon for every two chicken breasts works great and provides just a hint of lemon-citrus flavor without overpowering the rest of the seasonings in this recipe. I like to add the lemons straight to the pan after juicing them which extracts some of the lemon zest flavors from the outside of the lemon.

Then just plate to serve, and you’re done! Like I said, this recipe is simple, tasty and healthy too! This has been a weekly recipe for us since we started making it and I highly recommend you try it out. We hope you enjoy it as much as we have these last few months.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/lemon_chicken/4.JPG"  alt="Simple and Healthy Lemon Chicken"></div>
<strong id ="recipe">Recipe:</strong>
1 lb (16 oz) boneless, skinless chicken breasts.
2 large eggs
½ cup all-purpose flour (or flour of your choice!)
½ tsp. salt
½ tsp. pepper
1 tsp. garlic powder
1 tsp. onion powder
1 tsp. Italian seasoning (optional)
2 Tbsp. olive oil
1 whole lemon, halved (or 3 Tbsp. lemon juice)

<strong>Directions:</strong>
<ol><li>Slice each chicken breast in half, then use a meat tenderizer to get each piece between 1/4 – 1/2 an inch thick.</li>
<li>In a wide bowl or pie dish, beat two eggs until well blended, set aside.</li>
<li>In a separate wide bowl or pie dish, season the flour with the salt, pepper, garlic powder, onion powder, and Italian seasoning if desired. Wisk to combine, then set aside.</li>
<li>Dredge the chicken by placing it first in the egg-wash, then the seasoned flour, then onto a separate plate. Repeat for each piece of chicken.</li>
<li>Heat olive oil on medium heat for 1-3 minutes or until a water droplet sizzles when added.</li>
<li>Add the dredged chicken, one at a time, being careful not to over-crowd the pan.</li>
<li>Cook for 3-5 minutes on each side until golden-brown and completely cooked (165 F).</li>
<li>Remove from the heat. Squeeze the lemon juice over the chicken and add the lemons halves to the pan. If using lemon juice, just pour the lemon juice evenly over the chicken.</li>
<li>Turn the chicken to evenly coat with the lemon juice in the pan. Add additional salt and pepper to taste if desired.</li>
<li>Plate with a slice of lemon for garnish, and enjoy!</li></ol></pre>
{% endblock %}
