{% extends "recipes/_recipe_template.html" %}
{% block recipe %}
<pre>

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/1.JPG"  alt="Cold Brew-0"></div>
At the beginning of the 2020 quarantine Starbucks was closed for months, leaving me missing the taste of my favorite item: <b><i>The Vanilla Sweet Cream Cold Brew</i></b>

Out of other options, I decided I would try to make this recipe myself. I was already making cold brew on a regular basis. Even this took a few attempts to get to my liking. But after controlling the coffee used, temperature, and brew time, I found a flavor that I really enjoyed.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/2.JPG"  alt="Cold Brew-0"></div>
Then I tried recreating the vanilla sweet cream so I could recreate the Vanilla Sweet Cream Cold Brew. I tried a few recipes, but none fully reminded me of the perfect bitter-savory-sweet combination the Starbucks version produces. This lead me to taking a more scientific approach to create a vanilla sweet cream with identical nutrition facts to the Starbucks version. If the nutrition facts lined up, I thought, the taste would follow suite. The result was so close I had to share it in this recipe. But first, we need a great cold brew that can support the flavor of the vanilla sweet cream.

<strong>The Cold Brew:</strong>

For this cold brew I am using the Asobu Cold Brew Coffee Maker. I've had some great results with this cold brew maker so far, everything comes apart so its really easy to clean and the filter is really fine, so no small coffee grinds get through. If you're just getting started with cold brew, you just need a container to hold the cold brew, and a filter. At its core, cold brew is really simple: Just combine your coffee with filtered water, allow it to rest, and then filter out the coffee grinds with a coffee filter or cheesecloth. However, there are some variables that with heavily impact how enjoyable the result is. I've found that great cold brew comes down to two major factors: the coffee and the extraction (time and temperature).

<ul><li><strong>The Coffee: Medium to dark roast coffees are best.</strong></li>
While cold brew is great at leaving behind the bitter taste that can be experienced from traditional brewing, it can also leave behind some of the subtle flavors. These subtle flavors (usually floral, fruit, and citrus notes) are what a great light roast relies on. A dark roast, on the other hand, usually has robust chocolate and dark fruit flavors produced by the roasting process.

For this reason, I’ve found the dark roast and (some) medium roast coffees worked great with cold brew, while the light roasts tended to be lacking in flavor. This dark, roasty flavor is exactly what Starbucks is contrasting when they add their vanilla sweet cream (think: Oreos, black and white cookies, and hot fudge sundaes), so it’s important that this flavor is present. Besides that, use any coffee you enjoy, both single origin and blends lead to interesting results from my experience.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/3.JPG"  alt="Cold Brew"></div>
<li><strong>Temperature, coffee grind size, and brew time: Depends</strong></li>

When I first started making cold brew coffee, I ground my coffee to a coarse grind. This a more traditional cold brew method. Coarse ground coffee, sitting at room temperature for 12-24 hours, filtered, cooled, and served. This method works, but it was more difficult for me to perform on a regular basis. Mainly because the coffee would have to sit for 12-24 hours, then it would need to be chilled, so it became a two-day process (and adding ice to room temperature coffee diluted it too much for me). The method was also highly subject to how the coffee grind size. Unfortunately, my current coffee grinder does not produce accurate or consistent grind sizes. So if you're like me and you don't have an easy way to control your coffee grind size, you may want to try using pre-ground coffee with a refrigerated extraction.

My new method is to use medium, pre-ground ground coffee that is allowed to rest in the fridge for 6-12 hours. The fridge was the missing piece for me. I’ve tried pre-ground coffee in the past, but it led to terribly bitter over-extractions at room temperature. In the fridge, the extraction is slowed down and has led to some of the most amazingly smooth and flavorful cold brew I’ve ever experienced at home. It is possible that the cold temperature in the fridge can lead to some subdued notes from the coffee. But from my experience (and the fact that we’re adding a vanilla sweet cream to it) this will not majorly impact the end result. This method also makes the process much easier! Just take the pre-ground coffee, add filtered water on top, put it in the fridge before you go to bed, and in the morning you will have delicious cold brew ready to go. The added benefit: It's already cold!

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/4.JPG"  alt="Cold Brew"></div></ul>
With these two factors controlled, you should have no problem creating a great cold brew. If you find that it is too bitter, the cold brew is likely over-extracted and the brew time needs to be reduced or the coffee grind size needs to be larger. If too light on flavor, the brew time should be increased or you can try a room temperature extraction instead of the refrigerated version. This might take some trial and error based on the coffee you are using and your climate. But being able to have a consistent cold brew at home is well worth the effort in my book.

<strong>The Vanilla Sweet Cream:</strong>
I’ve seen several “Starbucks clone” recipes for the vanilla sweet cream out there, and I think a lot of them are missing out on the core of what makes the vanilla sweet cream at Starbucks so great. It’s a perfect ratio of sweetness, creaminess, and vanilla flavor. There’s also an almost-magical texture to the cream, how it floats on top of the cold brew for a minute before falling and mixing in with the rest of the coffee.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/5.JPG"  alt="Cold Brew-0"></div>
When reviewing the recipes available, I saw a few ingredients used in varying amounts.
<ul>
<li>Heavy cream</li>
<li>Whole milk</li>
<li>Half-and-half</li>
<li>Sweetened condensed milk</li>
<li>Vanilla syrup (combination of simple syrup and vanilla)</li></ul>
With these ingredients you can get pretty close to the real version. If you look at the Starbucks website, you will see three major ingredients in their vanilla sweet cream:
<ul>
<li>Cream</li>
<li>Milk</li>
<li>Vanilla syrup (sugar, water, vanilla extract)</li></ul>
However, making and storing vanilla syrup will make this more difficult and can be recreated in a different way. Since vanilla syrup is just a combination of sugar, water, and vanilla extract, I thought it would be easier to get the ratio of creaminess to sweetness from things like milk, cream, and condensed milk, and then add vanilla syrup to taste. Condensed milk might sound like a weird ingredient here, but if you look at the ingredients of condensed milk, it's just milk and sugar. So if we break down all of the ingredients into their core components, we will have the exact same ingredients as the Starbucks version.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/6.JPG"  alt="Cold Brew-0"></div>
Difficulty arose when trying to get these ratios as close as possible to Starbucks’ version. The recipes I was using were either not creamy or sweet enough, or both. The answer, I determined, was to use the nutrition facts and an excel spreadsheet.

<div class="image mw-100"><img class="img-fluid" src="/static/img/sweet_cream_cold_brew/7.png" id="table" alt="Cold Brew Nutrition"></div>
By taking each of the ingredients and their nutrition facts, and adjusting their ratios, I found I could reverse engineer the nutrition facts from my own ingredients and hopefully get as close as possible to the version I know and love.

<div class="image mw-100"><img class="img-fluid" src="/static/img/sweet_cream_cold_brew/8.png" id="table"  alt="Cold Brew Results"></div>
The results, as seen above, was a relatively simple ratio of heavy cream, milk, and sugar. I found that no milk was needed if condensed milk was used. The sugar will have to be dissolved into this mixture to create a smooth texture. To create the vanilla sweet cream we will simply combine all of these ingredients in a saucepan and heat it to dissolve. Unfortunately, vanilla extract does not contribute to the nutrition facts, so this will have to be adjusted by taste.

<strong>Putting it All Together:</strong>
With the recipes for the cold brew and vanilla sweet cream decided, all we need to do is put it together. I suggest making both the cold brew and sweet cream the night before, as the creamy texture is enhanced when it is cooled in the refrigerator.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/9.JPG"  alt="Cold Brew-0"></div>

To make the vanilla sweet cream we just need to combine everything except the vanilla in a saucepan and heat on high until it just comes to a boil. Let it cool, then add the vanilla extract before transferring to a jar to store overnight. Adding the vanilla last ensures that we don’t evaporate off all of the flavor and aroma (which is accelerated by heat). After its prepared, the sweet cream should stay fresh for 2-4 weeks when stored in the refrigerator. This means your vanilla sweet cream should last for multiple batches of cold brew.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/10.JPG"  alt="Cold Brew-0"></div>
Then, simply drizzle the sweet cream on top of the cold brew. The recipe below is enough for 5-10 16-oz vanilla sweet cream cold brews (16-oz including the ice). You should use a ratio of 2 Tablespoons of vanilla sweet cream to 16-oz of combined cold brew & ice to get as close as possible to Starbucks’ ratio. But you can obviously adjust this as you see fit. Add more or less to match your desired level of creaminess and/or sweetness.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/11.JPG"  alt="Cold Brew-0"></div>
<strong id="recipe">Recipe:</strong>

<b>Vanilla Sweet Cream (makes 5-10 Sweet Cream Cold Brews):</b>
½ cup heavy cream
½ cup sweetened condensed milk
1 Tbsp. + 1 tsp. sugar
1-2 Tbsp. vanilla extract

<b>Cold brew (makes 2-3 Cold Brews):</b>
3 oz medium-ground coffee (medium or dark roast, pre-ground works!)
3 cups filtered cold water

<b>Directions:</b>
<ol>
<li>Prepare the cold brew by combining the coffee with the cold filtered water. Allow to brew in the fridge for 6-12 hours.</li>
<li>Prepare the vanilla sweet cream by combining everything except the vanilla extract in a saucepan over medium-high heat.</li>
<li>Stir often until the mixture just reaches a boil; remove from heat and allow to cool.</li>
<li>Transfer to a sealed container, cool in the fridge for at least 1 hour (use within 3-4 weeks).</li>
<li>When the cold brew is ready, filter it and store in a separate container.</li> <li>Fill a 16-oz glass with ice, add cold brew to the top, leaving a couple inches for the vanilla sweet cream.</li>
<li>Drizzle 2 Tbsp. of vanilla sweet cream on top of the cold brew.</li>
<li>Stir, and enjoy!</li></ol></pre>
{% endblock %}
